@font-face {
    font-family: 'public sans';
    src: url('./PublicSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'public sans bold';
    src: url('./PublicSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}